
<h1 class="myclass"> <%= @product.name %> </h1>
<ul>
    <li> Description: <%= @product.description %> </li>
    <li> Dimensions: <%= @product.width %> x <%= @product.height %> x <%= @product.depth %> cm </li>
    <li> Weight: <%= @product.weight %> g </li>
    

    <li> Quantities </li>
    <%if !@product.product_listings.empty? %>
    <ul>
        <% @product.product_listings.each do |listing| %>
        <li> x<%= listing.quantity %> at <%= link_to listing.location.name, location_path(listing.location)  %>  
        <div class="btn-toolbar"> 
        <%= button_to "Edit listing", edit_product_listing_path(listing), method: :get, params:{product_listing: {product_id:listing.product_id, location_id:listing.location_id, quantity:listing.quantity}}, :class => "btn btn-secondary" %> 
         <%= button_to "Delete listing", product_listing_path(listing), method: :delete, :class => "btn btn-danger" %> 
        </div> </li> 
        <% end %>
    </ul>
    <%end %>
</ul>


<ul>
    <br>
    <%= link_to "Edit product", edit_product_path(@product), :class => "btn btn-secondary" %>
    <br>
    <br>
    <%= button_to "Delete product", product_path(@product), method: :delete, :class => "btn btn-danger" %>
    <br>
    <%= link_to "View products", products_path, :class => "btn btn-primary" %>
    
</ul>
