<%= form_with model: location do |form| %>
    <div>
        <%= form.label :Name %><br>
        <%= form.text_field :name %>
        <% location.errors.full_messages_for(:name).each do |message| %>
            <div> Please input a valid location name </div>
        <% end %>
        <br>
    </div>

    <div>
        <%= form.label :"Address Line 1" %><br>
        <%= form.text_area :addressline1 %>
        <% location.errors.full_messages_for(:addressline1).each do |message| %>
            <div> Please input a valid Address </div>
        <% end %>
        <br>
    </div>

    <div>
        <%= form.label :"Address Line 2" %><br>
        <%= form.text_area :addressline2 %>
        <br>
    </div>

    <div>
        <%= form.label :Province %><br>
        <%= form.select :province, options_for_select(["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Northwest Territories", "Nova Scotia", "Nunavut", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan", "Yukon"]) %>
        <% location.errors.full_messages_for(:province).each do |message| %>
            <div> Please choose a province </div>
        <% end %>
        <br>
    </div>

    <div>
        <%= form.label :City %><br>
        <%= form.text_field :city %>
        <% location.errors.full_messages_for(:city).each do |message| %>
            <div> Please input a valid city </div>
        <% end %>
        <br>
    </div>

    <div>
        <%= form.label :"Postal Code" %><br>
        <%= form.text_field :postalcode %>
        <% location.errors.full_messages_for(:postalcode).each do |message| %>
            <div> Please input a valid Postal Code </div>
        <% end %>
        <br>
    </div>

    <div>
        <%= form.submit%>
    </div>

<% end %>

